
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ccc;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
  opacity: 0.85;
}

#refresh {
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 180px;
  color: #ccc;
  background-color:transparent;
  text-decoration: underline;
  text-align: left;
  box-shadow: none;
  border:none;
  cursor: pointer;
}
#refresh:hover {
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.2);
  text-underline-offset: 3px;
}

.keys {
  width: 180px;
  margin-top: 5vh;
  color: #ccc;
}

.keys__wrapper {
  width: 100%;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 60px);
}

.key {
  width: 58px;
  padding: 15px 0;
  text-align: center;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.key:nth-child(1),
.key:nth-child(3){
  opacity: 0;
}

.spacebar {
  width: 180px;
}

.material-icons {
  vertical-align: top;
}

